/*Subscribe to my youtube Channel U CAN CODE for more Awesome codes*/
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
.container{
    width:100%;
    
    font-family: 'cookie', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color:white;
    overflow: hidden;
    text-align: center;
}
.banner{
    width:100%;
    height: 650px;
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 500px 0;
    text-align: center;
}
.nav{
    width:90%;
    height: auto;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    
}   
.menu{
    width:100%;
    height: 60px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: .5s;
    border:black;
    border-style: solid;
    margin-bottom: 20px;
}
.menu a{
    text-decoration: underline;
    font-size: 30px;
    color:#f15;
    font-weight: bolder;
    transition-duration: .5s;
}
.menu a:hover{
    border-bottom: 5px solid #f15;
}
.text{
    width:100%;
    position: relative;
    top:px;
    left: 20px;
    font-size: 50px;
    text-align: center;
}
.text h1{
    color:black;
    text-align: center;
    
}

.section{
    width:100%;
    height: auto;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-family: 'cookie', cursive;
}
.us{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
    font-family: 'cookie', cursive;
}

.venues{
    width:80%;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px 0 rgba(100,100,100,.3);
    font-family: 'cookie', cursive;
}

.us img{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border-top: 10px solid #f15;
    border-bottom: 10px solid #f15;
    margin-bottom: 20px;
}



.venues img{
    width:200px;
    height: 200px;
    display: flex;
    border-radius: 5px;
    border-top: 10px solid #f15;
    border-bottom: 10px solid #f15;
    margin-bottom: 30px;
}

.venues a{
    text-decoration: underline;
}

.venue1{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
}

.venue2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}
.section h2{
    width:100%;
    text-align: center;
    color:#f15;
    font-size: 60px;
}
.us1 {
    display: flex;
    flex-direction: column;
}
.us1 span{
    color:#fff;
    font-size: 40px;
    padding: 8px;
    background-color: #f15;
    border-radius: 8px;
}
footer{
    width:100%;
    height: auto;
    color:#ddd;
    font-size: 30px;
    font-family: cursive;
    background-color: #555;
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer i{
    color:skyblue;
    font-size: 30px;
    margin-left: 20px;
}

.eventname{
    color:pink;
}

.name{
    font-size: 60px;
    text-align: center;
    color: blue;
}

.ampercent{
    size: 0.5em;
}

.quote{
    text-align: center;
}

.eventname{
    text-decoration: underline;
    color: red;
    font-size: 40px;
}

.abc{
    height: auto ;
    margin-bottom: 40px;
    display: block           
}